<div class="container mt-5">
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body text-center">
                <span class="title">{{ title | uppercase }}</span>
                <form class="mt-3" [formGroup]="productForm" (ngSubmit)="addProduct()">
                    <div class="mb-3">
                        <input type="text" formControlName="id" class="form-control form-control-lg" placeholder="ID">
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Producto">
                        <div class="text-danger" *ngIf="productForm.get('nombre')?.hasError('required') && productForm.get('nombre')?.touched">
                            <span>El nombre es requerido</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="categoria" class="form-control form-control-lg" placeholder="Categoria">
                        <div class="text-danger" *ngIf="productForm.get('categoria')?.hasError('required') && productForm.get('categoria')?.touched">
                            <span>La categoria es requerida</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="number" formControlName="precio" class="form-control form-control-lg" placeholder="Precio">
                        <div class="text-danger" *ngIf="productForm.get('precio')?.hasError('required') && productForm.get('precio')?.touched">
                            <span>El precio es requerido</span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" formControlName="estado" class="form-control form-control-lg" placeholder="Estado">
                        <div class="text-danger" *ngIf="productForm.get('estado')?.hasError('required') && productForm.get('estado')?.touched">
                            <span>El estado es requerido </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button routerLink="/" class="btn btn-secondary btn-lg float-start">Atras</button>
                        <button type="submit" [disabled]="productForm.invalid" class="btn btn-success btn-lg float-end">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>